<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

            <title>Codewit.us</title>

            <style>
                .modal-dialog {
                    width: 100%;
                    height: 90%;
                    padding: 0;
                }

                .modal-content {
                    height: 100%;
                    width: 100%;
                    border-radius: 0;
                }

                .card-body {
                    width: 100%;
                }
            </style>

</head>

<body>
 <%= render "layouts/header" %>
 <h1>Learn how to code...</h1>
 <div class="list-group">
  <a href="/tutorial/variables_soccer/" class="list-group-item list-group-item-action">Variables in C++ for Soccer Players</a>
  <a href="/tutorial/variables_constellations/" class="list-group-item list-group-item-action">Variables in C++ for Constellations</a>
  <a href="/tutorial/conditions_login/" class="list-group-item list-group-item-action">Boolean operators in C++ for Logging In</a>
  <a href="/tutorial/conditions_dressing/" class="list-group-item list-group-item-action">Conditions in C++ to Dress for the Weather</a>
  <a href="/tutorial/while_energy_saving/" class="list-group-item list-group-item-action">While loops in C++ for an Energy-Saving Thermostat</a>
  <a href="/tutorial/vector_task_list/" class="list-group-item list-group-item-action">Vectors in C++ for a Task List</a>
  <a href="/tutorial/functions_fast_food/" class="list-group-item list-group-item-action">Functions in C++ to Order Fast Food</a>
  <a href="/tutorial/functions_grocery_shopping/" class="list-group-item list-group-item-action">Functions in C++ for Grocery Shopping</a>
</div>
</body>

</html>
